Source: edu-desktop-settings
Section: gnome
Priority: extra
Maintainer: Jose Antonio Chavarría <jachavar@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: https://github.com/vitalinux-edu/edu-desktop-settings

Package: edu-desktop-settings
Architecture: all
Provides: edu-virtual-desktop-settings
Conflicts: edu-virtual-desktop-settings
Replaces: edu-virtual-desktop-settings
Pre-Depends: vx-utils, vx-dconf-profile, edu-desktop-wallpapers, edu-desktop-icons, edu-desktop-theme
Depends: ${misc:Depends}
Description: Gnome settings for Vitalinux Edu branding.
